# Python cache
__pycache__

# Extra
data_local
External-past
exp
outputs
libtorch
build

.idea
.vscode

nerf_llff_data
360_v2
my_collection
free_data
free_dataset
data
External
pretrained_models

image_list.txt
runtime_config.yaml
auto_studio.egg-info